#alerts {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 400px;
    z-index: 2000;
}

#main-tabs-content {
    overflow: inherit;
}

.root {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.clear {
    clear: both;
}

.notepad-root {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 120px;
  bottom: 0;
}

.notepad-sheets {
  position: absolute;
  width: 230px;
  overflow-x: hidden;
  overflow-y: visible;
  top: 0;
  bottom: 0;
  left: 0;
}

.notepad-content {
  left: 250px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
}

.notepad-sheets-wrap {
}

.notepad-sheet-miniature {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  left: -180px;
  position: absolute;
}

.notepad-sheet-miniature-selected {
  border-right: 6px solid #91C275;
}

.notepad-sheet-miniature-title {
  margin-left: 25px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

.notepad-sheet-miniature-hover {
  left: 0px;
  box-shadow: 1px 1px 2px #888888;
  cursor: pointer;
}

.notepad-sheet-miniature-hover .notepad-sheet-miniature-title {
  visibility: visible;
}

.sheet {
  display: inline-block;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 3px #888888;
  margin-left: 1em;
  margin-right: 1em;
  overflow: visible;
  position: relative;
  vertical-align: middle;
}

.sheet_content {
  position: relative;
}

.sheet_title {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
}

.note {
  position: absolute;
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
  padding: 0.2em;
  text-align: left;
  z-index: 1;
  white-space: normal;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #aaaaaa;
  font-size: 1em;
  line-height: 1.4em;
}

.note:hover {
  box-shadow: 2px 2px 3px #aaaaaa;
}

.note-collapsed {
  height: 1.8em;
  overflow: hidden;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

.note-collapsed:hover {
  z-index: 2;
  height: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.note-color-button {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
}

.note-color0 {
    background-color: #EFFAB4;
    border-color: #AFBA84
}
.note-color1 {
    background-color: #D1F2A5;
    border-color: #91C275;
}
.note-color2 {
    background-color: #FFC48C;
    border-color: #CF844C;
}
.note-color3 {
    background-color: #FF9F80;
    border-color: #BF5F40;
}
.note-color4 {
    background-color: #F56991;
    border-color: #B52951;
}
.note-color5 {
    background-color: #FF9E9D;
    border-color: #BF5E5D;
}
.note-color6 {
    background-color: #FFF7BD;
    border-color: #BFB77D;
}
.note-color7 {
    background-color: #B9D7D9;
    border-color: #799799;
}

.sheet-toolbar {
  border-top: 1px dashed #aaaaaa;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0.4em;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}

.sheet-toolbar:hover {
  height: auto;
  z-index: 3;
}

.note-selected {
  box-shadow: 0px 0px 4px 4px #91C275 !important;
}

.notes-selector {
    z-index: 4;
    box-sizing: border-box;
    border: 1px solid #69D2E7;
    box-shadow: 0 0 3px 2px #69D2E7;
    position: absolute;
  background-color: rgba(105,210,231, 0.3);

}